<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    
    <!-- Import EaselJS Framework -->
    <script src="/javascripts/easeljs/utils/UID.js"></script>
    <script src="/javascripts/easeljs/display/SpriteSheet.js"></script>
    <script src="/javascripts/easeljs/display/Shadow.js"></script>
    <script src="/javascripts/easeljs/geom/Matrix2D.js"></script>
    <script src="/javascripts/easeljs/events/MouseEvent.js"></script>
    <script src="/javascripts/easeljs/display/DisplayObject.js"></script>
    <script src="/javascripts/easeljs/display/Container.js"></script>
    <script src="/javascripts/easeljs/display/Stage.js"></script>
    <script src="/javascripts/easeljs/display/Graphics.js"></script>
    <script src="/javascripts/easeljs/display/Shape.js"></script>
    <script src="/javascripts/easeljs/display/Text.js"></script>
    <script src="/javascripts/easeljs/utils/Ticker.js"></script>
    <!-- End EaselJS Imports -->

    <!-- Game script below -->
    <script src="/javascripts/space_rock.js"></script>
    <script src="/javascripts/ship.js"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>